<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Untitled-1</title>
    <script src="../public/script/jquery-1.9.1.js"></script>
    <script src="public/script/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="public/script/jquery-ui.drag-multiple.min.js"></script>
    <script src="public/script/migrate/jquery-migrate-1.1.1.min.js"></script>
    <script src="public/script/alsodrag.js"></script>
    <script src="public/script/datasourcejs.js"></script>
    <script src="public/script/elements.js"></script>
    <script src="public/script/index.js"></script>
    <script src="public/script/jquery.contextmenu.r2.js"></script>
    <script src="public/script/colpick.js"></script>
    <link href="style/custom-theme2/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="style/style.css" rel="stylesheet" />
    <link href="style/colpick.css" rel="stylesheet" />

</head>
<body style="margin:0">
    {{{body}}}
    
</body>
</html>